<div class = "show">
<div>
  <h1>All the Shortlies</h1>
</div>
<table style="width: 100%">
  <tr>
    <th>Longly</th>
    <th>Shortly</th>
  </tr>


    <% @sites.each do |s| %>

     <tr>
      <td><%= s.name[0,40] %>...</td>
      <td><a href=<%= s.name %>>www.ortly.herokuapp.com/<%= s.id %></a></td>
     </tr>
    <% end %>

</table>
</div>
